<div class="container">
  @if (loaded()) {
    <div id="name-container">
      <span>{{user().firstName}}</span>
      <span>'{{user().username}}'</span>
      <span>{{user().lastName}}</span>
    </div>

    <div id="picture-container">
      @for (item of user().photos; track $index) {
        @if (item && item.url) {
          <div (click)="viewImage($event, $index)" class="picture-viewer" [style]="'background-image: url('+ item.url +');'"></div>
        }
      }
    </div>

    <div id="info-container">
      <div id="bio-container">
        <span>{{user().bio}}</span>
      </div>
      <div id="detail-container">
        <span>Birthday : {{user().birthday}}</span>
        <span>Gender : {{user().gender}}</span>
        <span>Orientation : {{user().orientation}}</span>
        <span>City : {{user().cityStr}}</span>
        <span id="interest-container">Interest : @for (item of user().interest; track $index) {
          <span class="interest-span">{{item}}</span>
        }</span>
      </div>
    </div>
    <div id="buttons-container">
      @if (withChat()) {
        <button (click)="openChat()">chat</button>
      }
    </div>
  }
  @else {
    <h2>Loading...</h2>
  }
</div>
