@use '../utilities/variables.scss' as v;

$--picture-size: 15rem;

.container{
  width: 90vw;
  max-height: 80vh;
  color: v.$text-color;

  background-color: v.$secondary-bg-color;
  border: solid black .25rem;
  border-radius: 1.5rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.name-container{
  display: none;
  flex-direction: row;
  width: fit-content;
  max-width: -webkit-fill-available;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-self: center;
  word-break: break-all;
}

.name-container span:nth-child(2){
  font-weight: bold;
}

#picture-container, #bio-container, #detail-container{
  padding: 1rem;
  // margin: 1rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 1.5rem;
  box-sizing: border-box;
}

#picture-container{
  display: flex;
  flex-direction: row;

  gap: 1rem;
  justify-content: space-evenly;
  overflow-x: auto;
  min-height: fit-content;


  .picture-viewer{
    height: $--picture-size;
    width: $--picture-size;
    min-width: $--picture-size;
    position: relative;


    border: solid black .5rem;
    border-radius: .5rem;
    box-sizing: border-box;

    display: block;
    background-color: transparent;
    background-size: cover;
    background-position: center;
  }
}

#info-container{
  user-select: none;
  display: flex;
  flex-direction: row;

  white-space: break-spaces;

  gap: 1rem;

  div{
    width: 100%;
    height: fit-content;
  }
}

#detail-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

#interest-container{
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 10rem;
}

.interest-span{
  width: fit-content;
}

.interest-span:not(:last-child)::after{
  content: ", ";
}

#buttons-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  .name-container.mobile{
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;

    span{
      width: fit-content;
    }
  }

  #info-container{
    flex-direction: column;
  }

  #buttons-container{
    flex-direction: column-reverse;
  }
}
@media all and (min-width: v.$max-width-to-consider-mobile) {
  .name-container.desktop{
    display: flex;
    font-size: 4rem;
  }
}
