.container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#images-preview{
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  gap: .5em;
  width: 100%;
  justify-content: space-around;

  div{
    width: 20%;
  }
}

#images-preview img, .picture-preview{
  height: 13em;
  width: 100%;
  position: relative;


  border: solid black .5em;
  border-radius: .5em;
  box-sizing: border-box;

  display: block;
  background-size: cover;
  background-position: center;
}

#images-preview input{
  display: none;
}

app-image-input{
  width: 100%;
  height: 13em;
}
