@use '../utilities/variables.scss' as v;

.container {
  overflow: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#images-preview {
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  gap: .5em;
  width: -webkit-fill-available;
  min-width: fit-content;
  justify-content: space-around;

  div {
    // width: 100%;
  }
}

#images-preview img,
.picture-preview {
  height: 13em;
  width: 13em;
  position: relative;


  border: solid black .5em;
  border-radius: .5em;
  box-sizing: border-box;

  display: block;
  background-size: cover;
  background-position: center;
}

#images-preview input {
  display: none;
}

app-image-input {
  width: 100%;
  height: 13em;
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  #images-preview {
    flex-direction: column;
    width: -webkit-fill-available;

    div {
      width: -webkit-fill-available;
    }

    .picture-preview {
      width: -webkit-fill-available;
    }
  }
}