@use '../../utilities/variables.scss' as v;

.container{
  padding: 2em;
  background: v.$secondary-bg-color;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 25px;

  border-radius: v.$border-radius-default;
  color: v.$text-color;
  margin: 5em auto;
  @media all and (max-width: v.$max-width-to-consider-mobile) {
    width: 70vw;
  }
}

.container>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.popup>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

form app-input{
  width: 100%;
}

#header{
  display: flex;
  width: 100%;
}

.selector{
  text-align: center;
  width: 100%;
  font-size: 2em;
  color: v.$text-color;
}

.inactive{
  display: none !important;
}

button{
  background: v.$primary-bg-color;
  width: 100%;

  border: transparent;
  border-radius: v.$border-radius-default;
  padding: .5em;
  box-sizing: border-box;

  font-size: 1em;
}

.selector{
  transition: scale 300ms;
  scale: 1;
}

.selector:hover{
  scale: 1.2;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: v.$secondary-bg-color;
  padding: 20px;
  border-radius: v.$border-radius-default;
  text-align: center;
  color : v.$text-color;
}

.popup button {
  width: 50%;
  height: 20%;
}