<div class="container">
  <div id="header">
    <login-selector class="selector" (onClick)="activateLoginForm()" [value]="'Login'" />
    <login-selector class="selector" (onClick)="activateSigninForm()" [value]="'Sign-in'" />
  </div>
  <form (submit)="loginApiCall($event)" id="loginForm">
    <label>
      <span>Username</span>
      <input autocomplete="username" id="login-username-input" type="text" placeholder="Username" minlength="3" maxlength="30"/>
    </label>
    <label>
      <span>Password</span>
      <input autocomplete="password" id="login-password-input" type="password" placeholder="Password"/>
    </label>
    <button>Login</button>

    <a (click)="openPasswordForgottenPopup()" style="cursor: pointer;">Forgot password ?</a>

    @if (loginErrorMessage() != null) {
      <a>{{loginErrorMessage()}}</a>
    }

  </form>
  <form (submit)="signInApiCall($event)" id="signinForm" class="inactive">
    <label>
      <span>Username</span>
      <input autocomplete="username" id="register-username-input" type="text" placeholder="Username" minlength="3" maxlength="30"/>
    </label>
    <label>
      <span>First name</span>
      <input id="register-first-name-input" type="text" placeholder="First name" required maxlength="30"/>
    </label>
    <label>
      <span>Last name</span>
      <input id="register-last-name-input" type="text" placeholder="Last name" required maxlength="30"/>
    </label>
    <label>
      <span>Mail</span>
      <input id="register-mail-input" type="email" placeholder="Mail" maxlength="100"/>
    </label>
    <label>
      <span>Password</span>
      <input id="register-password-input" type="password" placeholder="Password (must be complex and > 8 chars)" maxlength="100"/>
    </label>
    <button>Sign-in</button>
    @if (registerErrorMessage() != null) {
    <a class="error-messages">{{registerErrorMessage()}}</a>
    }
  </form>
  @if (emailConfirmationPopup()) {
  <div class="popup-overlay">
    <div class="popup">
      <p>Success</p>
      <p>Please check your email in order to confirm your account</p>
      <button (click)="emailConfirmationPopup.set(false)">OK</button>
    </div>
  </div>
  }
  @if (passwordForgottenPopup()) {
  <div class="popup-overlay">
    <div class="popup">
      <form (submit)="forgottenPasswordApiCall($event)" id="forgottenPasswordForm">
        <label>
          <span>Email</span>
          <input id="forgotten-password-email-input" type="email" maxlength="100" placeholder="Email">
        </label>
        <button [id]="'ok-button'">OK</button>
        @if (passwordForgottenButtonClicked()) {
          <a> If this user exist, a link will be to reset the password.</a>
          <button (click)="closePasswordForgottenPopup()">OK</button>
        }
      </form>
    </div>
  </div>
  }
</div>
