@use '../../utilities/variables.scss' as v;


input{
  background: v.$primary-bg-color;
  width: 100%;

  border: solid 1px;
  border-color: v.$text-color;
  border-radius: v.$border-radius-default;
  padding: 1em;
  box-sizing: border-box;
  height: 42px;

  color: v.$text-color;
  outline: none;
}

input:is(:autofill, :-webkit-autofill, :focus){
  background: v.$primary-bg-color !important;
  color: v.$text-color !important;
  -webkit-text-fill-color: v.$text-color !important;
  -webkit-box-shadow: 0 0 0px 1000px v.$primary-bg-color inset;
}

input::placeholder{
  color: v.$text-color;
  font-style: italic;
  opacity: .7;
}
