@use '../../utilities/variables.scss' as v;

.container {
  padding: 2em;
  background: v.$secondary-bg-color;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 25px;

  border-radius: v.$border-radius-default;
  color: v.$text-color;
  margin: 5em auto;
}

.container>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

button {
  width: 50%;
  font-size: 1em;
}