@use './utilities/variables.scss' as v;

.center-block{
  margin: 5em auto;
  display: block;
  width: fit-content;
}

#title {
  margin: 0;
  text-align: center;
  font-size: 6em;
  font-style: italic;
  color: v.$text-color;
}

app-dropdown, app-interest-dropdown{
  height: 42px;
  display: block;
  position: relative;
}

app-profile-view, app-chat{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,.4);
}

button{
  background: v.$primary-bg-color;
  width: 100%;

  border: transparent;
  border-radius: v.$border-radius-default;
  padding: .5em;
  box-sizing: border-box;

  color: v.$text-color;;
  font-size: 2em;
  opacity: 100%;
  transition: opacity 300ms;
}

app-image-viewer{
  position: fixed;
  z-index: 10;
}

#navbar{
  display: flex;

  // height: 1em;
  background: v.$secondary-bg-color;
  // overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  list-style-type: none;

  li{
    padding: 1rem;
    display: block;
    user-select: none;
    color: black;
    transition: color 300ms;
  }

  li:hover{
    color: v.$text-color;
  }

  li:last-child{
    float: right !important;
    position: absolute;
    right: 0;
  }

  #notif-dropdown-container{
    height: 0em;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  #notif-content-container.inactive{
    display: none !important;
  }

  #notif-dropdown-container #notif-content-container{
    padding: .5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: v.$secondary-bg-color;
    border-radius: 0 0 v.$border-radius-default v.$border-radius-default;
    gap: .5rem;

    app-notification{
      user-select: none;
    }
  }

}


label{
  color: v.$text-color;
  width: 100%;

  span{
    position: relative;
    padding-left: .5rem;

  }
}

input{
  background: v.$primary-bg-color;
  width: 100%;

  border: solid 1px;
  border-color: v.$text-color;
  border-radius: v.$border-radius-default;
  padding: 1rem;
  box-sizing: border-box;
  height: 42px;

  font-size: .8rem;

  color: v.$text-color;
  outline: none;
}

input:is(:autofill, :-webkit-autofill, :focus){
  background: v.$primary-bg-color !important;
  color: v.$text-color !important;
  -webkit-text-fill-color: v.$text-color !important;
  -webkit-box-shadow: 0 0 0px 1000px v.$primary-bg-color inset;
}

input::placeholder{
  color: v.$text-color;
  font-style: italic;
  opacity: .7;
}

