@if (loaded()) {
  <main class="main">
    @if (isAuth()) {
      <ul id="navbar-desktop">
        <li (click)="goHome()" class="navbar-title">MATCHA</li>
        <li (click)="goProfile()">Profile</li>
        <li (click)="goLikes()">Likes</li>
        <li (click)="goMatches()">Matches</li>
        <li (click)="goHistory()">History</li>
        <div class="notif-dropdown-container">
          <li (click)="toggleNotifDropdown($event)">Notif ({{notifList().length}})</li>
          <div class="notif-content-container inactive">
            @for (notif of notifList(); track $index) {
              <app-notification [notification]="notif"></app-notification>
            }
          </div>
        </div>
        <li (click)="logout()">Log out</li>
      </ul>

      <ul id="navbar-mobile">
        <li class="navbar-title">MATCHA</li>
      </ul>
      <ul id="navbar-mobile-fixed">
        <li (click)="goHome()" class="navbar-title">MATCHA</li>
        <div class="notif-dropdown-container">
          <li (click)="toggleNotifDropdown($event)">Notif ({{notifList().length}})</li>
          <div class="notif-content-container inactive">
            @for (notif of notifList(); track $index) {
              <app-notification [notification]="notif"></app-notification>
            }
          </div>
        </div>
        <li (click)="logout()">Log out</li>
      </ul>

      <router-outlet />

      <ul id="bottom-navbar-mobile">
        <li (click)="goMatches()">Matches</li>
        <li (click)="goLikes()">Likes</li>
        <li (click)="goProfile()">Profile</li>
        <li (click)="goHistory()">History</li>
      </ul>
    }
    @else {
      <router-outlet />
    }
  </main>

}

@else {
  <h1>Loading...</h1>
}
