@if (loaded()) {
  <main class="main">
    @if (isAuth()) {
      <ul id="navbar">
        <li (click)="goHome()" id="navbar-title">MATCHA</li>
        <!-- <li (click)="goHome()">Home</li> -->
        <li (click)="goProfile()">Profile</li>
        <li (click)="goLikes()">Likes</li>
        <li (click)="goMatches()">Matches</li>
        <div id="notif-dropdown-container">
          <li (click)="toggleNotifDropdown()">Notif ({{notifList().length}})</li>
          <div id="notif-content-container" class="inactive">
            @for (notif of notifList(); track $index) {
              <app-notification [notification]="notif"></app-notification>
            }
          </div>
        </div>
        <li (click)="logout()">Log out</li>
      </ul>
    }
    <!-- <h1 id="title">MATCHA</h1> -->
  </main>

  <router-outlet />
}

@else {
  <h1>Loading...</h1>
}
