$primary-bg-color:#DA5555;
$secondary-bg-color:#945188;
$text-color:#FFDBDE;
$secondary-text-color: #bfa5a3;
$focus-text-color:#BF4D76;

$border-radius-default: 1em;

$background-deg:linear-gradient(42deg, $primary-bg-color, $focus-text-color);
