@use '../../utilities/variables.scss' as v;

.container{
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: .5em;
  color: v.$text-color;
  background-color: v.$secondary-bg-color;
  border-radius: v.$border-radius-default;
  width: fit-content;
  margin: 1em auto;
  padding: 1em;
}

.history-element{
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  padding: 1em;
  border-radius: v.$border-radius-default;
  background-color: v.$primary-bg-color;

  a{
    user-select: none;
  }
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  .history-element{
    flex-direction: column;
  }
}
