<div>
  <div class="{{contentClass()}} container" (click)="onClick($event)">
    @if (searchable()) {
      <div class="flexRow" id="input-container" >
        <input autocomplete="off" (input)="search()"  id="{{inputId()}}" [placeholder]="placeholder()" [value]="value()"/>
        <!-- <button type="button" (click)="search()">search</button> -->
      </div>
    }
    @else {
      <a>{{value() == null ? values() == null ? placeholder() : values()!.join(', ') : value()}}</a>
    }
    <div id="content" [style]="options().length == 0 ? 'display: none !important;' : ''" class="{{`content-`.concat(contentDirection())}}">
      @for (item of options(); track $index) {
        <dropdown-selector [value]="item" (onClick)="setSelectedValue(item, $index)"/>
      }
    </div>
  </div>
</div>
