<h1>{{profiles().length}} {{profiles().length < 2 ? "profile" : "profiles"}} found</h1>
<div id="search-container">
  <input id="search-option-preview" [value]="searchOptionPreview()" type="text" (click)="toggleSearchOptionsDisplay()" readonly>
  <div id="search-option-container">
    <label>
      <span>Sort by</span>
      <div id="sort-by-container">
        <button (click)="setSortBy($event, 'age')">Age</button>
        <button (click)="setSortBy($event, 'distance')" class="active-sort-selector ascending">Distance</button>
        <button (click)="setSortBy($event, 'interest')">Common interest</button>
        <button (click)="setSortBy($event, 'fame')">Fame</button>
      </div>
    </label>

    <label>
      <span>Filter by</span>
      <div style="display: flex; flex-direction: row;">
        <input [value]="radius" (input)="setRadius($event)" type="number" placeholder="Radius"/>
        <input [value]="minAge" (input)="setMinAge($event)" type="number" min="18" placeholder="min age"/>
        <input [value]="maxAge" (input)="setMaxAge($event)" type="number" min="18" placeholder="max age"/>
        <input [value]="minFame" (input)="setMinFame($event)" type="number" min="0" placeholder="min fame"/>
        <input [value]="maxFame" (input)="setMaxFame($event)" type="number" min="0" placeholder="max fame"/>
      </div>
    </label>

    <div style="display: flex; flex-direction: row;">
      <label>
        <span>Interest whitelist</span>
        <app-interest-dropdown (onSelected)="setOptionPreview()" #interestWhitelistDropdownContainer
          style="z-index: 2; position: relative; width: 100%;"
        ></app-interest-dropdown>
      </label>
      <label>
        <span>Interest blacklist</span>
        <app-interest-dropdown (onSelected)="setOptionPreview()" #interestBlacklistDropdownContainer
          style="z-index: 2; position: relative; width: 100%;"
        ></app-interest-dropdown>
      </label>
    </div>
  </div>
</div>
<div id="profile-list-container">
  @if (loading()) {
    <span>Loading...</span>
  }
  @else {
    @for (item of profiles(); track $index) {
      <app-profile-preview (onDestroy)="removeProfile(item)" (onClick)="seeProfile(item)" [user]="item" [id]="$index"></app-profile-preview>
    }
  }
</div>


