<h1>{{profiles().length}} {{profiles().length < 2 ? "profile" : "profiles"}} found</h1>
<div id="search-option-container">
  <div style="display: flex; flex-direction: row;">
    <input [value]="radius" (change)="setRadius($event)" type="number" placeholder="Radius"/>
    <input [value]="minAge" (change)="setMinAge($event)" type="number" min="18" placeholder="min age"/>
    <input [value]="maxAge" (change)="setMaxAge($event)" type="number" min="18" placeholder="max age"/>

    <input [value]="minFame" (change)="setMinFame($event)" type="number" min="0" placeholder="min fame"/>
    <input [value]="maxFame" (change)="setMaxFame($event)" type="number" min="0" placeholder="max fame"/>
    <button (click)="searchForProfile()">Search</button>
  </div>

  <label>
    <span>Interest</span>
    <app-interest-dropdown #interestDropdownContainer
      style="z-index: 2; position: relative; width: 100%;"
    ></app-interest-dropdown>
  </label>
</div>
<div id="profile-list-container">
  @if (loading()) {
    <span>Loading...</span>
  }
  @else {
    @for (item of profiles(); track $index) {
      <app-profile-preview (onClick)="seeProfile(item)" [user]="item" [id]="$index"></app-profile-preview>
    }
  }
</div>


