@use '../../utilities/variables.scss' as v;
h1{
  color: v.$text-color;
  text-align: center;
}

#search-container{
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
  padding: 1rem;
  gap: 1rem;


  border-radius: v.$border-radius-default;

  background-color: v.$secondary-bg-color;
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  #search-container{
    margin: 1rem;
  }
}

#search-option-container{
  display: flex;
  max-height: 0px;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
  div{
    gap: 1rem;
  }
  transition: all 500ms allow-discrete;
}

.options-container{
  display: flex;
  flex-direction: row;


  button{
    font-size: 1em;
  }
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  .options-container{
    flex-direction: column;
  }
}

.active-sort-selector {
  border: 1px solid v.$text-color;
}

.active-sort-selector.ascending::after{
  content: " ↗";
}

.active-sort-selector.descending::after{
  content: " ↘";
}

.display-search-options{
    max-height: 100vh !important;
  overflow:visible !important;

}
