@use '../../utilities/variables.scss' as v;

.page-container{
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 1em auto;

  h1{
    user-select: none;
    text-align: center;
    color: v.$text-color;
  }

  .dropdown-container{
    overflow: hidden;
    background: v.$secondary-bg-color;
    border-radius: v.$border-radius-default;
    padding: 2em;
  }
  .dropdown{
    transition: max-height 300ms allow-discrete, opacity 300ms allow-discrete;
    height: fit-content;
    max-height: 100vh;
    opacity: 1;
    overflow: auto;
  }
}

.dropdown.inactive{
  max-height: 0px !important;
  opacity: 0 !important;
}

app-input, app-dropdown{
  width: 100%;
}

app-dropdown, app-interest-dropdown{
  height: 42px;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.fields-containers{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

textarea{
  background: v.$primary-bg-color;
  width: 100%;

  border: solid 1px;
  border-color: v.$text-color;
  border-radius: v.$border-radius-default;
  padding: 1em;
  box-sizing: border-box;
  min-height: 42px;

  outline: none;

  color: v.$text-color;
}

#location-input-container{
  position: relative;
  z-index: 4;
}


textarea::placeholder{
  color: v.$text-color;
  font-style: italic;
  opacity: .7;
}

profile-image-input{
  width: 100%;
}

#profileForm:invalid button{
  opacity: 50%;
}


#interest-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

app-profile-preview .container{
  background: v.$background-deg !important;

  .interact-button:hover{
    background-color: v.$secondary-bg-color !important;
  }
}

.profile-list-container{
  padding: 0 !important;
}

@media all and (max-width: v.$max-width-to-consider-mobile) {
  .fields-containers{
    flex-direction: column;
  }
}

