<div class="container">
  @if (loading()) {
    <span>Loading...</span>
  }
  @else {
    <div class="dropdown-container" id="edit-profile-container" (click)="toggleDropdown($event)">
      <h1>Edit profile</h1>
      <div class="dropdown">
        <form (submit)="processForm($event)" id="profileForm" class="flexColumn">
          <div class="fields-containers">
            <label>
              <span>Firstname</span>
              <input (input)="setFirstname($event)" id="first-name-input" type="text" placeholder="Firstname" [value]="tmpUser().firstName"/>
            </label>

            <label>
              <span>Username</span>
              <input (input)="setUsername($event)" id="username-input" type="text" placeholder="Username" [value]="tmpUser().username"/>
            </label>

            <label>
              <span>Lastname</span>
              <input (input)="setLastname($event)" id="last-name-input" type="text" placeholder="Lastname" [value]="tmpUser().lastName"/>
            </label>
          </div>

          <label>
              <span>Email</span>
              <input (input)="setEmail($event)" id="email-input" type="email" placeholder="Email" [value]="tmpUser().email"/>
            </label>

          <div class="fields-containers">
            <label>
              <span>Date of birth</span>
              <input required (input)="setBirthday($event)" id="DOB-input" type="date" [value]="tmpUser().birthday" [max]="maxBirthDay.toISOString().substring(0,10)"/>
            </label>

            <label>
              <span>Location</span>
              <app-dropdown style="z-index: 4;" #locationInputContainer
                id="#location-input-container" [inputId]="'location-input'" [placeholder]="'Location'"
                [options]="userSearchCityListStr()" [value]="userCity()" (onSelected)="setSelectedCity($event)"
                [searchable]="true" (onSearch)="searchCity()"></app-dropdown>
            </label>
          </div>

          <div class="fields-containers">
            <label>
              <span>Gender</span>
              <app-dropdown [placeholder]="'Gender'" style="z-index: 4; position: relative; width: 100%;"
                (onSelected)="setGender($event)" [value]="tmpUser().gender ?? 'prefer not to say'" [options]="allowedGenders"/>
            </label>
            <label>
              <span>Orientation</span>
              <app-dropdown [placeholder]="'Orientation'" style="z-index: 3; position: relative; width: 100%;"
                (onSelected)="setOrientation($event)" [multiChoice]="true" [values]="tmpUser().preferences" [options]="allowedGenders"/>
            </label>

            <label>
              <span>Interest</span>
              <app-interest-dropdown [allowInterestCreation]="true" #interestDropdownContainer
                style="z-index: 2; position: relative; width: 100%;"
              ></app-interest-dropdown>
            </label>
          </div>

          <label>
            <span>Bio</span>
            <textarea (input)="setBio($event)"  [value]="tmpUser().bio" id="bio-input" placeholder="Bio :" rows="4"  minlength="10"></textarea>
          </label>



          <profile-image-input #imageContainer></profile-image-input>
          <button>Save</button>
        </form>
        @for (errors of errorMessages(); track $index) {
          <span>{{errors}}</span>
        }
      </div>
    </div>
    <div class="dropdown-container" id="liked-profiles-container" (click)="toggleDropdown($event)">
      <h1>Liked profiles</h1>
      <div class="dropdown inactive">
        <h1>List of profiles you liked</h1>
      </div>
    </div>
    <div class="dropdown-container" id="blocked-profiles-container" (click)="toggleDropdown($event)">
      <h1>Blocked profiles</h1>
      <div class="dropdown inactive">
        <h1>List of profiles you blocked</h1>
        <div class="profile-list-container">
        @for (item of blockedProfiles(); track $index) {
          <app-profile-preview 
          [allowUnblock]="true" 
          [allowLike]="false" 
          [allowIgnore]="false" 
          [user]="item" 
          [id]="$index"
          (onDestroy)="removeProfile(item)"
          >
          </app-profile-preview>
        }
        </div>
      </div>
    </div>
  }
</div>
